.cart {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50%;
}

.articles-number {
  position: fixed;
  top: 10px;
  right: 13px;
  width: 25px;
  background-color: red;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
}

li {
  list-style-type: none;
}
